.head {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background: none;
  width: 100%;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__cu1ZV {
  display: flex;
  flex-direction: row;
  padding-bottom: 0px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  right: 0;
  background: var(--token-alFhmWcVpqmL);
  opacity: 0.5;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__cu1ZV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__cu1ZV > :global(.__wab_flex-container) > *,
.freeBox__cu1ZV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cu1ZV > :global(.__wab_flex-container) > picture > img,
.freeBox__cu1ZV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cu1ZV {
    padding: 32px;
  }
}
.freeBox___34Dx5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox___34Dx5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___34Dx5 > :global(.__wab_flex-container) > *,
.freeBox___34Dx5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___34Dx5 > :global(.__wab_flex-container) > picture > img,
.freeBox___34Dx5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___34Dx5 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___34Dx5 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___34Dx5 > :global(.__wab_flex-container) > *,
  .freeBox___34Dx5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___34Dx5 > :global(.__wab_flex-container) > picture > img,
  .freeBox___34Dx5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__amYb3 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__amYb3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__amYb3 > :global(.__wab_flex-container) > *,
.freeBox__amYb3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__amYb3 > :global(.__wab_flex-container) > picture > img,
.freeBox__amYb3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__amYb3 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__amYb3 > :global(.__wab_flex-container) > *,
  .freeBox__amYb3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__amYb3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__amYb3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.home:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__yGgLc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__osC51 {
  font-family: var(--token-jpE_43jzRraR);
  font-size: var(--token-UG0v0Z-4xrPN);
  font-weight: 500;
  font-style: normal;
  color: var(--token-ZCiUD5qx58gk);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__oAwh4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.about:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__bjTj7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__pEdE4 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__znHbA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.themeSwitch:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
