.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-VG6Vt_9edsnH);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-pMJ4WCse0pC2);
  font-family: var(--token-zICiYDeCEl_b);
  font-size: var(--token-qwJG33OZmVfN);
  line-height: var(--token-03sqZn-3N5V4);
  outline-style: none;
  text-decoration-line: none;
  font-weight: 600;
  border-radius: var(--token-2wLH-s5wipW1);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Di2FbNGFLR8m);
  outline-offset: 1px;
  outline-color: var(--token-VG6Vt_9edsnH);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token--0a7JsQ7GqSg);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-sA4i0F4MOfY0);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-1JCyI341CJ7G);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-T4PTgM1-utZ2);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-h3r-OINHq_nj);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-xs1yudBRWjjh);
  font-size: var(--token-qwJG33OZmVfN);
  column-gap: var(--token-Di2FbNGFLR8m);
  row-gap: 0px;
  border-radius: var(--token-YuBfRGa4OIhs);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-qwJG33OZmVfN);
  line-height: var(--token-xs1yudBRWjjh);
  column-gap: var(--token-YuBfRGa4OIhs);
  row-gap: 0px;
  border-radius: var(--token-YuBfRGa4OIhs);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-yhs-MF4yeol9);
  line-height: var(--token-FNQXx7nS-64L);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-yhs-MF4yeol9);
  line-height: var(--token-FNQXx7nS-64L);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-86NyohQD2xKH);
  border-radius: var(--token-2wLH-s5wipW1);
}
.softBackgroundcolor_neutral {
  background: var(--token-lsoKdFR6JFuG);
}
.softBackgroundcolor_muted {
  background: var(--token-G3-5VIG9KMiw);
}
.softBackgroundcolor_success {
  background: var(--token-H-Lyp8HJkUhR);
}
.softBackgroundcolor_warning {
  background: var(--token-egbKMqBKKerL);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-TZJF0H7D2sGq);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-2wLH-s5wipW1);
  border: 0px solid var(--token-gsHzmwiDopKs);
}
.bordercolor_neutral {
  border-color: var(--token-KHKDrA_qRqfw);
}
.bordercolor_muted {
  border-color: var(--token-CptF36lrcyPu);
}
.bordercolor_success {
  border-color: var(--token-lRHkAYYUYvB4);
}
.bordercolor_warning {
  border-color: var(--token-qDfmuXGKjLMo);
}
.bordercolor_errorDestructive {
  border-color: var(--token-AIi3BHpsUtx7);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-2wLH-s5wipW1);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-Iws0O6Kq689f);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-4t3m4Y6fkjzB);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-AB4HOKv0tQ--);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__jd6L1 {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-2wLH-s5wipW1) var(--token-UkzHqh6L-39-);
}
.freeBox__jd6L1 > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-2wLH-s5wipW1));
  width: calc(100% + var(--token-2wLH-s5wipW1));
}
.freeBox__jd6L1 > :global(.__wab_flex-container) > *,
.freeBox__jd6L1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jd6L1 > :global(.__wab_flex-container) > picture > img,
.freeBox__jd6L1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-2wLH-s5wipW1);
}
.freeBoxsize_extraSmall__jd6L11Pxcr {
  padding: var(--token-YuBfRGa4OIhs) var(--token-2wLH-s5wipW1);
}
.freeBoxsize_small__jd6L1FCphN {
  padding: var(--token-2wLH-s5wipW1) var(--token-pMJ4WCse0pC2);
}
.freeBoxsize_large__jd6L1BoAhc {
  padding-top: var(--token-YuBfRGa4OIhs);
  padding-bottom: var(--token-YuBfRGa4OIhs);
}
.freeBoxsize_extraLarge__jd6L1FF3P {
  padding-left: var(--token-tSKQ5vMX27jM);
  padding-right: var(--token-tSKQ5vMX27jM);
}
.freeBoxroundedFull__jd6L1L3Ak8 {
  padding-right: var(--token-tSKQ5vMX27jM);
  padding-left: var(--token-tSKQ5vMX27jM);
}
.freeBox__ohxXj {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__ohxXjgPn27 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-pAv40pmBaB2M);
}
.slotTargetStartcolor_neutral {
  color: var(--token-xsx3BnYn8sbB);
}
.slotTargetStartcolor_muted {
  color: var(--token-mJTt4i-KQlnI);
}
.slotTargetStartcolor_success {
  color: var(--token-HP81PzWL4s55);
}
.slotTargetStartcolor_warning {
  color: var(--token-xjFpSSK_BKdz);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-pSzS24aQTdUq);
}
.slotTargetStarttype_soft {
  color: var(--token-qkM6jZlfulne);
}
.slotTargetStarttype_bordered {
  color: var(--token-qkM6jZlfulne);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-qwJG33OZmVfN);
}
.slotTargetStartsize_small {
  font-size: var(--token-qwJG33OZmVfN);
}
.slotTargetStartsize_large {
  font-size: var(--token-yhs-MF4yeol9);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-yhs-MF4yeol9);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-8j80CVHTgC3p);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-8j80CVHTgC3p);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-f3W1veH_pwYn);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-f3W1veH_pwYn);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token--kLFPgr22fVt);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token--kLFPgr22fVt);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-wCLjTGcBydIh);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-wCLjTGcBydIh);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-Iyfqmmi1K7Pp);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-Iyfqmmi1K7Pp);
}
.svg__t3KLt {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-pAv40pmBaB2M);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-xsx3BnYn8sbB);
}
.slotTargetLabelcolor_muted {
  color: var(--token-mJTt4i-KQlnI);
}
.slotTargetLabelcolor_success {
  color: var(--token-HP81PzWL4s55);
}
.slotTargetLabelcolor_warning {
  color: var(--token-xjFpSSK_BKdz);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-pSzS24aQTdUq);
}
.slotTargetLabeltype_soft {
  color: var(--token-qkM6jZlfulne);
}
.slotTargetLabeltype_bordered {
  color: var(--token-qkM6jZlfulne);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-8j80CVHTgC3p);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-f3W1veH_pwYn);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-8j80CVHTgC3p);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token--kLFPgr22fVt);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-f3W1veH_pwYn);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-wCLjTGcBydIh);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token--kLFPgr22fVt);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-Iyfqmmi1K7Pp);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-wCLjTGcBydIh);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-Iyfqmmi1K7Pp);
}
.text__cesUy {
  white-space: pre;
}
.freeBox__aIkU {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__aIkUKsBPg {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-pAv40pmBaB2M);
}
.slotTargetEndcolor_neutral {
  color: var(--token-xsx3BnYn8sbB);
}
.slotTargetEndcolor_muted {
  color: var(--token-mJTt4i-KQlnI);
}
.slotTargetEndcolor_success {
  color: var(--token-HP81PzWL4s55);
}
.slotTargetEndcolor_warning {
  color: var(--token-xjFpSSK_BKdz);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-pSzS24aQTdUq);
}
.slotTargetEndtype_soft {
  color: var(--token-qkM6jZlfulne);
}
.slotTargetEndtype_bordered {
  color: var(--token-qkM6jZlfulne);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-qwJG33OZmVfN);
}
.slotTargetEndsize_small {
  font-size: var(--token-qwJG33OZmVfN);
}
.slotTargetEndsize_large {
  font-size: var(--token-yhs-MF4yeol9);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-yhs-MF4yeol9);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-8j80CVHTgC3p);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-8j80CVHTgC3p);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-f3W1veH_pwYn);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-f3W1veH_pwYn);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token--kLFPgr22fVt);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token--kLFPgr22fVt);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-wCLjTGcBydIh);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-wCLjTGcBydIh);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-Iyfqmmi1K7Pp);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-Iyfqmmi1K7Pp);
}
.svg__yBcr8 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
